body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url(https://img.freepik.com/premium-vector/blue-gradient-abstract-background-with-glowing-waves_615931-202.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
min-height: 100vh;
    padding: 80px 20px;   /* space inside section */
    color: white;        /* text color */
    text-align: center;
}



.hero h1 {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    color: #333;
    width: 320px;
    padding: 25px;
    border-radius: 8px;
    text-align: left;
}

.card img {
    width: 40px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0;
}

.hero h2 {
    margin-top: 50px;
}

button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background: #2ecc71;
    color: white;
    font-size: 16px;
    cursor: pointer;
}